.form-container {
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: gainsboro !important;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-main {
  display: flex;
  flex-direction: column;
  background-color: white !important;
  color: black !important;
}
legend{
  font-size: 16px !important;
  font-weight: bold;
}
.form-section {
  margin-bottom: 0.3rem;
  color: black !important;
  font-size: 12px;
}

.form-group {
  margin-bottom: 1.5rem;
  color: black !important;
  font-size: 12px;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black !important;
  font-size: 12px;
}
#creditApplication,
#mailingAddressSame,
#csaApproved,
#hazmat,
#approved {
  width: 1rem;
  margin-left: 0.5rem;
  font-size: 12px;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: black !important;
  height: 2.5rem;
}
.form-group textarea {
  height: 6rem !important;
  font-size: 12px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

#hot,
#tarp,
#team,
#air_ride,
#hazmat {
  width: 1rem;
  margin-left: 0.5rem;
  font-size: 12px;
}

#sameAsPrimary {
  visibility: visible !important;
  margin-left: 0.5rem;
}


/*Contact form */

.contact-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0rem;
}

.contact-form .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form .form-group label {
  margin-bottom: 4px;
  font-size: 14px;
}

.contact-form .form-group input {
  height: 36px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}
