@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main {
  overflow: hidden;
  height: 85vh;
  background-color: #fafbfd !important;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

header {
  background-color: #333333 !important;
}
