/* Container */

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff !important;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.header-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.page-heading {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.header-container {
  display: flex;
  position: sticky;
  top: 3.5rem;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #586069;
  color: #fff;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa {
  font-size: 12px; /* Adjust size of sort icons */
  margin-left: 5px; /* Add spacing between text and icons */
  cursor: pointer;
  visibility: visible !important;
}

.col {
  cursor: pointer; /* Add pointer cursor to indicate clickability */
}

.header-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.actions-container {
  display: flex;
  align-items: center;
  width: 31.5rem;
  gap: 1.5rem;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 6px; /* Adjust padding for a more compact table */
  text-align: left;
  vertical-align: middle;
  font-size: 12px; /* Adjusted font size for table text */
  color: #1c2737;
  border: none; /* Remove all borders */
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table tr:last-child {
  border-bottom: none; /* Remove the border under the last row */
}
thead {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the header stays on top */
  background-color: #f5f5f5; /* Make sure background color is set */
}
.table th {
  position: sticky;
  top: 0;
  background-color: #d6d6d6 !important; /* Ensure the background color stays consistent */
  z-index: 1; /* Ensure th is on top of the content */
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table .equipment-indicator {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.table-container {
  max-height: 40rem;
  overflow-y: auto;
  border: none;
  position: relative;
}

.table th {
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 1;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.date-picker-container {
  color: #ff4d4d;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 110px;
  gap: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-picker-container-normal {
  color: #1c2737;
  padding: 4px 0px;
  display: flex;
  font-size: 12px;
  align-items: left;
  justify-content: left;
  width: 110px;
  gap: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-picker {
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
}

.react-datepicker__input-container {
  display: inline-block;
}

.react-datepicker-wrapper {
  display: inline-block;
}

.sortable-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.sort-icon {
  margin-left: 5px;
  font-size: 12px;
  visibility: visible !important;
}

.sortable-header .sort-icon {
  display: inline-block;
  visibility: visible;
  font-size: 9px;
}

.sortable-header .sort-icon:before {
  content: '';
  visibility: visible;
  font-size: 9px;
}

.sortable-header.sorted-asc .sort-icon:before {
  visibility: visible;
  content: '▲';
  font-size: 9px;
}

.sortable-header.sorted-desc .sort-icon:before {
  visibility: visible;
  content: '▼';
  font-size: 9px;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #1890ff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.pickup-date-time {
  color: #ff4d4d;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10rem;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.delivery-date-time {
  color: #ff7f50;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10rem;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.anticon-calendar {
  color: #1c2737 !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
